/* src/components/Login.css */
.login-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #8648b3; /* Lighter purple color */
  }
  
  .form-group input {
    padding: 10px;
    width: 200px;
    border: 1px solid #8648b3; /* Lighter purple color */
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #8648b3; /* Lighter purple color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #a16ccf; /* Slightly lighter purple for hover */
  }